.menu__checkbox {
	position: absolute;
	left: -9999px;
}

.menu {
	position: relative;
}

.menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
  	text-align: center;
	position: absolute;
	right: 0;
	top: 100%;
	width: 100vw;
	background-color: white;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: black;
}

.menu__link:hover {
  color: blueviolet;
}

.menu__checkbox:checked ~ .menu__list {
	display: block;
}

.logo {
  color: black;
  margin-left: 0;
}

.header__container {
	display: flex;
	margin: 10px 20px 20px 20px;
	justify-content: space-between;
   	align-items: center;
}