.mobil--zmizet {
	display: none;
}


.menu__checkbox {
	position: absolute;
	left: -9999px;
}

.hamburgermenu {
	position: relative;
}

.menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
  	text-align: center;
	position: absolute;
	right: 0;
	top: 100%;
	width: 100vw;
	background-color: white;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: black;
}

.menu__link:hover {
  color: #00B2CA;
}

.menu__checkbox:checked ~ .menu__list {
	display: block;
}

.header__nazev {
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 15px;
	margin-bottom: 0;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__container {
	display: flex;
	margin: 10px 20px 20px 20px;
	justify-content: space-between;
   	align-items: center;
}

@media screen and (min-width: 800px) {
	
	.pc--zmizet {
		display: none;
	}

	.mobil--zmizet {
		display: block;
	}

	.pc-menu-polozka {
		list-style: none;
		display: inline-block;
	}


}