p {
    line-height: 1.5em;
    
}


@media screen and (min-width: 800px) {

    .galerie {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 400px);
        gap: 10px;
    }

    .responzivni-obrazek {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pc--schovat {
        display: none;
    }


}