.tlacitko {
    padding: 10px;
    border-radius: 5px;
    font-size: 17.5px;
    font-family: 'Sora', sans-serif;
    margin: 10px 0;
    display: block;
}

.tlacitko--modra {
    background-color: #00B2CA;
    border: 1px solid #00B2CA;
}

.tlacitko--petrolejova {
    background-color: #37515F;
    border: 1px solid #37515F;
}

 .obsah {
     margin: 20px 35px;
 }

.mobil__schovat {
    display: none;

    @media screen and (min-width: 800px) {
        display: block;
    }
}

.na-dalsi-stranu {
    text-decoration: none;
    color: gray;
}

 p {
     line-height: 1.5em;
 }

 .uvod-hlavni-nadpis {
     text-align: center;
     font-size: 50px;
 }

.obrazek--uvodni {
    width: 100%;
    object-fit: cover;
    
    @media screen and (min-width: 700px) {
        margin-left: 20px;
        margin-right: 20px;
    }
 }