.title-page__text {
    border: 2px solid rgb(238, 191, 169);
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.tlacitko {
    padding: 10px;
    border-radius: 5px;
    font-size: 17.5px;
    font-family: 'Sora', sans-serif;
    margin: 10px 0;
}

.tlacitko--hnedy {
    background-color: burlywood;
    border: 1px solid burlywood;
}

.tlacitko--hnedy:hover {
    background-color: #C19A6B;
}

 .obsah {
     margin: 20px 35px;
 }

.mobil__schovat {
    display: none;

    @media screen and (min-width: 800px) {
        display: block;
    }
}

.na-dalsi-stranu {
    text-decoration: none;
    color: gray;
}

 p {
     line-height: 1.5em;
 }

 .uvod-hlavni-nadpis {
     text-align: center;
     font-size: 50px;
 }

.obrazek--uvodni {
    width: calc(100% - (2 * 20px));
    object-fit: cover;
    
    @media screen and (min-width: 700px) {
        margin-left: 20px;
        margin-right: 20px;
    }
 }