@use 'menu' ;

@use 'footer' ;

@use 'uvod' ;

@use 'onas' ;

@use 'pridejse' ;

@use 'kontakt' ;


html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
}

a {
  text-decoration: none;
  line-height: 1.5em;
}

p {
  font-size: 17.5px;
}

figure {
  margin: 0;
}

.responzivni-obrazek {
  width: 100%;
}


@media screen and (min-width: 800px) {
  .obsah {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1000px) {
  .obsah {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1200px) {
  .obsah {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1400px) {
  .obsah {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }

}