<footer class="paticka">
    

    <h3>Menu</h3>
    <a class="paticka--link" href="/">Úvod</a>
    <a class="paticka--link" href="/onas/">O nás</a>
    <a class="paticka--link" href="/blog/">Blog</a>
    <a class="paticka--link" href="/pridejse/">Přidej se</a>
    <a class="paticka--link" href="/kontakt/">Kontakt</a>

    <div class="social-media-links">
        <h3 class="paticka--h3">Sociální sítě</h3>

        <a class="paticka--link" href="https://www.instagram.com/">Instagram</a>
        <a class="paticka--link" href="https://www.facebook.com/">Facebook</a>
    </div>

    <div class="copyright">
      &copy;2021, Ema Richterová
    </div>
</footer>
