<footer class="paticka ">
    
  <div class="obsah">

    <div class="kontejner kontejner--paticka">

      <h2>Logo</h2>


      <div class="obal">
          <h3>Menu</h3>
          <a class="paticka--link podtrzeni--bile" href="/">Úvod</a>
          <a class="paticka--link podtrzeni--bile" href="/onas/">O nás</a>
          <a class="paticka--link podtrzeni--bile" href="/blog/">Blog</a>
          <a class="paticka--link podtrzeni--bile" href="/pridejse/">Přidej se</a>
          <a class="paticka--link podtrzeni--bile" href="/kontakt/">Kontakt</a>
      </div>


      <div class="social-media-links">
          <h3 class="paticka--h3">Sociální sítě</h3>

          <a class="paticka--link podtrzeni--bile" href="https://www.instagram.com/">Instagram</a>
          <a class="paticka--link podtrzeni--bile" href="https://www.facebook.com/">Facebook</a>
      </div>

    </div>

    <div class="copyright">
      &copy;2021, Ema Richterová
    </div>

   </div>
</footer>
