
<nav class="hamburgermenu pc--zmizet">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
	<label for="menu-checkbox" class="menu__toggler">Menu</label>

    <ul class="menu__list" >
        <li class="list-item"><a class="menu__link" href="/">Úvod</a></li>
        <li class="list-item"><a class="menu__link" href="/onas/">O nás</a></li>
        <li class="list-item"><a class="menu__link" href="/blog/">Blog</a></li>
        <li class="list-item"><a class="menu__link" href="/pridejse/">Přidej se</a></li>
        <li class="list-item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
    </ul>

</nav>

<div class="mobil--zmizet">
    <ul class="" >
            <li class="pc-menu-polozka"><a class="menu__link" href="/">Úvod</a></li>
            <li class="pc-menu-polozka"><a class="menu__link" href="/onas/">O nás</a></li>
            <li class="pc-menu-polozka"><a class="menu__link" href="/blog/">Blog</a></li>
            <li class="pc-menu-polozka"><a class="menu__link" href="/pridejse/">Přidej se</a></li>
            <li class="pc-menu-polozka"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
    </ul>


</div>